.app-theme-root {
  background: var(--bg);
  color: var(--fg);
  min-height: 100svh;
}

.main{
  padding: var(--space-6);
  width: 100%;

  &__title{ margin: 0 0 var(--space-6); }
}

.news{
  &__title{ margin: 0 0 var(--space-4); }
  .main__title, &__title{ font-size: var(--fs-h2); }

  &__list{
    display: grid;
    gap: var(--space-6);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.team{
  &__title{ margin: 0 0 var(--space-4); font-size: var(--fs-h2);}

  &__list{
    display: grid;
    gap: var(--space-6);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}


